# version: "3.9"
name: kangtlee-blog
services:
  next-app:
    build:
      context: .
      # dockerfile: Dockerfile
    image:
      ghcr.io/punkzberryz/kangtlee-blog:latest
      # args:
      #   ENV_VARIABLE: ${ENV_VARIABLE}
      #   NEXT_PUBLIC_ENV_VARIABLE: ${NEXT_PUBLIC_ENV_VARIABLE}
    restart: always
    # ports:
    #   - 3000:3000
    # networks:
    #   - kangtlee_network
  # Add more containers below (nginx, postgres, etc.)
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - next-app
    restart: always
    networks:
      - default
      - web-proxy

networks:
  default:
  web-proxy:
    external: true
# DON'T FORGET TO RUN 'docker network create web-proxy' AT THE BEGINING TO CREATE THE NETWORK (1-time only)
#

# postgres:
#   image: postgres:16.3-alpine3.20
#   ports:
#     - "${DB_PORT}:${DB_PORT}"
#   volumes:
#     - ./pg-db:/var/lib/postgresql/data
#   environment:
#     POSTGRES_USER: ${DB_USER}
#     POSTGRES_PASSWORD: ${DB_PASSWORD}
#     POSTGRES_DB: ${DB_NAME}
#   restart: always
#   container_name: ${DB_DOCKER_CONTAINER}

# volumes:
#   pg-db:

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
# networks:
#   my_network:
#     external: true
