name: Build and Publish image to Github Package

on:
  push:
    branches: [master]
  # pull_request:
  #   branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: check files
        run: ls -la
      - name: build image
        run: |
          docker build -t ghcr.io/punkzberryz/kangtlee-blog:latest \
            --build-arg DATABASE_URL="${{ secrets.DATABASE_URL }}" \
            --build-arg DIRECT_URL="${{ secrets.DIRECT_URL }}" \
            --build-arg NEXT_PUBLIC_URL="${{ secrets.NEXT_PUBLIC_URL }}" \
            --build-arg NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS_ID }}" \
            --build-arg NEXT_PUBLIC_CLOUDINARY_NAME="${{ secrets.NEXT_PUBLIC_CLOUDINARY_NAME }}" \
            --build-arg SIGNUP_ADMIN_SECRET="${{ secrets.SIGNUP_ADMIN_SECRET }}" \
            --build-arg GOOGLE_CLIENT_ID="${{ secrets.GOOGLE_CLIENT_ID }}" \
            --build-arg GOOGLE_CLIENT_SECRET="${{ secrets.GOOGLE_CLIENT_SECRET }}" \
            --build-arg GOOGLE_SHEETS_CLIENT_EMAIL="${{ secrets.GOOGLE_SHEETS_CLIENT_EMAIL }}" \
            --build-arg GOOGLE_SHEETS_PRIVATE_KEY_B64="${{ secrets.GOOGLE_SHEETS_PRIVATE_KEY_B64 }}" \
            --build-arg MAILER_EMAIL="${{ secrets.MAILER_EMAIL }}" \
            --build-arg MAILER_PASSWORD="${{ secrets.MAILER_PASSWORD }}" \
            .
      - name: Login to ghcr
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      - name: push image to ghcr
        run: docker push ghcr.io/punkzberryz/kangtlee-blog:latest
